<%= form_tag({ :controller => 'jobs', :action => 'create_message'},{ :method => :post}) do %>
  <%= label "メッセージ", :message %>
  <%= text_field_tag :message %>
  <%= hidden_field_tag :from_id, current_user.id %>
  <%= hidden_field_tag :to_id, @worker_id %>
  <%= submit_tag "送信", :class=>"waves-effect waves-light btn" %>
  <br />
  <ul class="collection">
    <% @chat_list.each do |chat| %>
      <li class="collection-item">
        <span class="title"><%= chat.created_at %></span>
        <p><%= chat.message %></p>
      </li>
    <% end %>
  </ul>

<% end %>
