<h1> <%= @user.name %> </h1>
<h2> Work history </h2>

<table>
  <thead>
    <tr>
      <th>仕事名</th>
      <th>依頼主</th>
      <th>仕事内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= User.find_by(id: job.user_id).name %></td>
        <td><%= job.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2> Review list </h2>

<table>
  <thead>
    <tr>
      <th>レーティング</th>
      <th>依頼主からのコメント</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.rating %></td>
        <td><%= review.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>