<p id="notice"><%= notice %></p>

<h1>Jobs Evaluations</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Star</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs_evaluations.each do |jobs_evaluation| %>
      <tr>
        <td><%= jobs_evaluation.comment %></td>
        <td><%= jobs_evaluation.star %></td>
        <td><%= jobs_evaluation.user_id %></td>
        <td><%= link_to 'Show', jobs_evaluation %></td>
        <td><%= link_to 'Edit', edit_jobs_evaluation_path(jobs_evaluation) %></td>
        <td><%= link_to 'Destroy', jobs_evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jobs Evaluation', new_jobs_evaluation_path %>
