<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @jobs_evaluation.comment %>
</p>

<p>
  <strong>Star:</strong>
  <%= @jobs_evaluation.star %>
</p>

<p>
  <strong>User:</strong>
  <%= @jobs_evaluation.user_id %>
</p>

<%= link_to 'Edit', edit_jobs_evaluation_path(@jobs_evaluation) %> |
<%= link_to 'Back', jobs_evaluations_path %>
