<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @assign.job_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @assign.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @assign.status %>
</p>

<%= link_to 'Edit', edit_assign_path(@assign) %> |
<%= link_to 'Back', assigns_path %>
