<%= form_with(model: jobcomment, local: true) do |form| %>
  <% if jobcomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jobcomment.errors.count, "error") %> prohibited this jobcomment from being saved:</h2>

      <ul>
      <% jobcomment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="field">
    <%= form.label :star %>
    <%= form.number_field :star %>
  </div>

  <div class="field">
    <%= form.label :job_id %>
    <%= form.number_field :job_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
