<!DOCTYPE html>
<html>
  <head>
    <title>TsukubaScourcing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui top fixed menu">
      <div class="item">
          <!--<img src="/images/logo.png">-->
      </div>
      <a class="item">Jobs</a>
      <a class="item">Sign-in</a>
    </div>
    <%= yield %>
  </body>
</html>
