<!DOCTYPE html>
<html>
  <head>
    <title>TsukubaSourcing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Tsukuba Sourcing</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/jobs">Jobs</a></li>
        <li><a href="/jobs/new">Add Job</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
